html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
  font-family: "M PLUS Code Latin", sans-serif;
}

.form {
  padding: 16px;
}

.form__legend {
  color: hsl(0, 0%, 0%);
  background-color: hsl(258, 17%, 80%);
  border-radius: 10px;
  padding: 2px;
  background-color: hsl(258, 17%, 80%);
  padding: 2px;
  border: 1px solid hsl(0, 0%, 0%);
}

.form__button {
  border-radius: 10px;
  background-color: hsl(258, 17%, 80%);
  cursor: pointer;
}

.form__button:hover {
  border-radius: 10px;
  background-color: hsl(260, 51%, 70%);
  cursor: pointer;
}

.buttonDayNight {
  border-radius: 10px;
  background-color: hsl(258, 17%, 80%);
  cursor: pointer;
}

.buttonDayNight:hover {
  border-radius: 10px;
  background-color: hsl(260, 51%, 70%);
  cursor: pointer;
}

.form__filedset {
  border-radius: 10px;
  background-color: hsl(271, 97%, 70%);
  max-width: 400px;
  min-width: 270px;
  margin-bottom: 10px;
}
.fieldset {
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 10px;
  max-width: 120px;
  background-color: hsl(258, 17%, 80%);;
}

.form__element {
  max-width: 190px;
  background-color: hsl(258, 17%, 80%);
  padding: 2px;
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 10px;
}

.body {
  color: hsl(0, 0%, 0%);
  padding: 16px;
  background-image: url("photosy/bank.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.pharagraph {
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 10px;
  background-color: hsl(260, 51%, 70%);
  max-width: 190px;
  padding: 2px;
}

.image {
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 10px;
  background-color: hsl(258, 17%, 80%);
  max-width: 120px;
  margin-bottom: 10px;

}

.footer {
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 10px;
  font-size: 10px;
  background-color: hsl(260, 51%, 70%);
  max-width: 400px;
  padding: 2px;
}
.result {
  max-width: 300px;
  background-color: hsl(260, 51%, 70%);
  border-radius: 10px;
  padding-left: 5px;
}